#
# Configure the value of the variables
#
# It's better if $MAXVALUE -$MINVALUE is a $NUMBERYCELLGRIDESIZE divisible
# number
NUMBERYCELLGRIDSIZE: 8
MAXYVALUE: 7748
MINYVALUE: 6500
XCELLGRIDSIZE: 18
# both 96 or 1996 are correct
# Remember 0 is January, 1 February ...
YEAR: 96
MONTH: 8
#($MONTH,$YEAR) = (localtime(time))[4,5];
# input file in the form
# day:number
Data: ./graphmaker.dat
# output gif
Graph: ./graphmaker.gif
# $Bar: 1 Bar Diagram
Bar: 1
# $Average: 1 for Average Line
Average: 1
#$Title: Graph Maker 2.1
Title: ENI: Milan Stock Exchange
#
# Colour
# Default Transparent Background: yes
Transparent: no
# Background RGB Colour: 255,255,255
Rbgcolour: 0
Gbgcolour: 255
Bbgcolour: 255
# Foreground RGB Colour: 0,0,0
Rfgcolour: 0
Gfgcolour: 0
Bfgcolour: 0
# Default line or bar RGB Colour: 0,0,255
Rcolour: 0
Gcolour: 0
Bcolour: 255
# Average colour
Racolour: 255
Gacolour: 255
Bacolour: 0
